module "{{ .name }}" {
  source   = "github.com/stuttgart-things/vsphere-vm?ref=v1.7.5-2.7.0"
  vm_count = {{ .count }}
  vsphere_vm_name = "{{ .name }}"
  vm_memory = {{ .ram }}
  vsphere_vm_template = "{{ .template }}"
  vm_disk_size = "{{ .disk }}"
  vm_num_cpus = {{ .cpu }}
  firmware = "{{ .firmware }}"
  vsphere_vm_folder_path = "{{ .vm_folder }}"
  vsphere_datacenter = "{{ .datacenter }}"
  vsphere_datastore = "{{ .datastore }}"
  vsphere_resource_pool = "{{ .resourcePool }}"
  vsphere_network = "{{ .network }}"
  bootstrap = ["echo STUTTGART-THINGS"]
  annotation = "VSPHERE-VM {{ .name }} {{ .template }} BUILD w/ TERRAFORM FOR STUTTGART-THINGS"
  {{- if .useVault }}
  vsphere_server   = data.vault_kv_secret_v2.vsphere.data["ip"]
  vsphere_user     = data.vault_kv_secret_v2.vsphere.data["username"]
  vsphere_password = data.vault_kv_secret_v2.vsphere.data["password"]
  vm_ssh_user      = data.vault_kv_secret_v2.vsphere.data["vm_ssh_user"]
  vm_ssh_password  = data.vault_kv_secret_v2.vsphere.data["vm_ssh_password"]
  {{- else }}
  vsphere_server   = var.vsphere_server
  vsphere_user     = var.vsphere_user
  vsphere_password = var.vsphere_password
  vm_ssh_user      = var.vm_ssh_user
  vm_ssh_password  = var.vm_ssh_password
  {{- end }}
}

{{- if not .useVault }}
variable "vsphere_server" {
  type        = string
  description = "name of vsphere vm server"
}

variable "vm_ssh_user" {
  type        = string
  description = "username of ssh user for vm"
}

variable "vm_ssh_password" {
  type        = string
  description = "password of ssh user"
  sensitive   = true
}

variable "vsphere_user" {
  type        = string
  description = "username of vsphere user"
}

variable "vsphere_password" {
  type        = string
  description = "password of vsphere user"
  sensitive   = true
}
{{- end }}

output "ip" {
  value = [module.{{ .name }}.ip]
}

{{- if .useVault }}
provider "vault" {
  address = var.vault_addr

  auth_login {
    path = "auth/approle/login"
    parameters = {
      role_id   = var.vault_role_id
      secret_id = var.vault_secret_id
    }
  }
}

data "vault_kv_secret_v2" "vsphere" {
  mount = "cloud"
  name  = "{{ .vaultSecretPath }}"
}

variable "vault_addr" {
  type        = string
  description = "Vault server address"
}

variable "vault_role_id" {
  type        = string
  description = "AppRole Role ID"
}

variable "vault_secret_id" {
  type        = string
  description = "AppRole Secret ID"
  sensitive   = true
}
{{- end }}
